# 성격 유형 검사하기

In [4]:
import pandas as pd

In [6]:
dict = {'RT':0, 'TR':1}
dict['RT']

0

In [8]:
df = pd.DataFrame(dict, index=[0,1])

In [9]:
df

   RT  TR
0   0   1
1   0   1

In [10]:
dict2 = {'RT':df}
dict2['RT']

   RT  TR
0   0   1
1   0   1

"RT", "TR", "FC", "CF", "MJ", "JM", "AN", "NA"

In [11]:
choice_df = pd.DataFrame({'choices':list(range(1,8)), '뜻':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의']})
choice_df

   choices       뜻
0        1  매우 비동의
1        2     비동의
2        3  약간 비동의
3        4    모르겠음
4        5   약간 동의
5        6      동의
6        7   매우 동의

In [15]:
rt_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['라이언형 3점', '라이언형 2점', '라이언형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', '튜브형 1점', '튜브형 2점', '튜브형 3점']} )
rt_df

      선택지               성격 유형 점수
0  매우 비동의                라이언형 3점
1     비동의                라이언형 2점
2  약간 비동의                라이언형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                 튜브형 1점
5      동의                 튜브형 2점
6   매우 동의                 튜브형 3점

In [16]:
tr_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['튜브형 3점', '튜브형 2점', '튜브형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', 
                            '라이언형 1점', '라이언형 2점', '라이언형 3점']} )
tr_df

      선택지               성격 유형 점수
0  매우 비동의                 튜브형 3점
1     비동의                 튜브형 2점
2  약간 비동의                 튜브형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                라이언형 1점
5      동의                라이언형 2점
6   매우 동의                라이언형 3점

In [17]:
fc_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['프로도형 3점', '프로도형 2점', '프로도형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', 
                            '콘형 1점', '콘형 2점', '콘형 3점']} )
fc_df

      선택지               성격 유형 점수
0  매우 비동의                프로도형 3점
1     비동의                프로도형 2점
2  약간 비동의                프로도형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                  콘형 1점
5      동의                  콘형 2점
6   매우 동의                  콘형 3점

In [19]:
cf_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['콘형 3점', '콘형 2점', '콘형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', 
                            '프로도형 1점', '프로도형 2점', '프로도형 3점']} )
cf_df

      선택지               성격 유형 점수
0  매우 비동의                  콘형 3점
1     비동의                  콘형 2점
2  약간 비동의                  콘형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                프로도형 1점
5      동의                프로도형 2점
6   매우 동의                프로도형 3점

In [20]:
mj_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['무지형 3점', '무지형 2점', '무지형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', 
                            '제이지형 1점', '제이지형 2점', '제이지형 3점']} )
mj_df

      선택지               성격 유형 점수
0  매우 비동의                 무지형 3점
1     비동의                 무지형 2점
2  약간 비동의                 무지형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                제이지형 1점
5      동의                제이지형 2점
6   매우 동의                제이지형 3점

In [21]:
jm_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['제이지형 3점', '제이지형 2점', '제이지형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', 
                            '무지형 1점', '무지형 2점', '무지형 3점']} )
jm_df

      선택지               성격 유형 점수
0  매우 비동의                제이지형 3점
1     비동의                제이지형 2점
2  약간 비동의                제이지형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                 무지형 1점
5      동의                 무지형 2점
6   매우 동의                 무지형 3점

In [13]:
an_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['어피치형 3점', '어피치형 2점', '어피치형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', '네오형 1점', '네오형 2점', '네오형 3점']} )
an_df

      선택지               성격 유형 점수
0  매우 비동의                어피치형 3점
1     비동의                어피치형 2점
2  약간 비동의                어피치형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                 네오형 1점
5      동의                 네오형 2점
6   매우 동의                 네오형 3점

In [14]:
na_df = pd.DataFrame( {'선택지':['매우 비동의', '비동의', '약간 비동의', '모르겠음', '약간 동의', '동의', '매우 동의'], 
                            '성격 유형 점수':['네오형 3점', '네오형 2점', '네오형 1점', '어떤 성격 유형도 점수를 얻지 않습니다', '어피치형 1점', '어피치형 2점', '어피치형 3점']} )
na_df

      선택지               성격 유형 점수
0  매우 비동의                 네오형 3점
1     비동의                 네오형 2점
2  약간 비동의                 네오형 1점
3    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4   약간 동의                어피치형 1점
5      동의                어피치형 2점
6   매우 동의                어피치형 3점

In [22]:
merge_df = pd.merge(choice_df, na_df, left_on='뜻', right_on='선택지')
merge_df

   choices       뜻     선택지               성격 유형 점수
0        1  매우 비동의  매우 비동의                 네오형 3점
1        2     비동의     비동의                 네오형 2점
2        3  약간 비동의  약간 비동의                 네오형 1점
3        4    모르겠음    모르겠음  어떤 성격 유형도 점수를 얻지 않습니다
4        5   약간 동의   약간 동의                어피치형 1점
5        6      동의      동의                어피치형 2점
6        7   매우 동의   매우 동의                어피치형 3점

In [23]:
temp_df = pd.DataFrame({'지표번호':[1, 2, 3], '성격유형':['R', 'C', 'J'], '점수':[0, 1, 0], '성격유형':['T','F','M'], '점수':[3, 0, 2]})
temp_df

   지표번호 성격유형  점수
0     1    T   3
1     2    F   0
2     3    M   2

In [24]:
temp1_df = pd.DataFrame({'지표번호':[1, 2, 3], '성격유형':['R', 'C', 'J'], '점수':[0, 1, 0]})
temp2_df = pd.DataFrame({'지표번호':[1, 2, 3], '성격유형':['T','F','M'], '점수':[3, 0, 2]})

In [25]:
temp1_df

   지표번호 성격유형  점수
0     1    R   0
1     2    C   1
2     3    J   0

In [26]:
temp2_df

   지표번호 성격유형  점수
0     1    T   3
1     2    F   0
2     3    M   2

In [27]:
temp_merge = pd.merge(temp1_df, temp2_df, on='지표번호')
temp_merge

   지표번호 성격유형_x  점수_x 성격유형_y  점수_y
0     1      R     0      T     3
1     2      C     1      F     0
2     3      J     0      M     2

In [28]:
a =0
b=0
c=0
temp = {'A':a, 'B':b, 'C':c}

In [29]:
temp['A'] += 1
temp['C'] += 3
temp

{'A': 1, 'B': 0, 'C': 3}

In [30]:
survey = ["AN", "CF", "MJ", "RT", "NA"]
choices = [5, 3, 2, 7, 5]